body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: black;
    margin: 40px;
}

p,h1,h2,h3 {
    color:white
}

body {
    background: #111;
     color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.config-container {
    max-width: 300px;
    margin: 0 auto;
    background: #1e1e1e;
    border-radius: 20px;
    padding: 20px;
}

.option {
    background: #2c2c2c;
    margin: 15px 0;
    padding: 12px;
    border-radius: 12px;
    text-align: left;
    cursor: pointer;
    transition: background 0.2s;
}

.option.selected {
    background: orange;
    color: #111;
}

input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
    accent-color: orange;
}

label {
    font-size: 16px;
    cursor: pointer;
}

button {
    background: orange;
    border: none;
    padding: 12px 24px;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background: darkorange;
}

h3 {
    margin-bottom: 20px;
}