<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="config-container">
        <h3>⚙️ Configuración</h3>

        <div class="option">
            <input type="radio" name="modo" id="modoCompleto" value="completo">
            <label for="modoCompleto"> Modo completo<br><small>Lengua de señas + audios + textos</small></label>
        </div>

        <div class="option">
            <input type="radio" name="modo" id="soloTranscripcion" value="soloTranscripcion">
            <label for="soloTranscripcion">Solo transcripción<br><small>Texto de audio/video</small></label>
        </div>

        <button id="saveBtn">Guardar</button>
    </div>

    <script src="config.js"></script>
</body>
</html>