<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente Virtual Accesible</title>

    <link rel = "stylesheet" href="style.css">
</head>
<body>
    <h1>Asistente Virtual</h1>

    <p id ="contenido">
        El usaurio debe completar el procedimiento para realizar un trámite digital
    </p>
    
    <!-- poner boton e integrar funcion (por hacer)-->

    <h3>Resultado</h3>
    <p id = "resultado"></p>

    <script templates = "script.js"></script>

</body>
</html>